@mixin flex () {
    display: flex;
    align-items: center;
}
@mixin flex-center () { 
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-end () { 
    display: flex;
    align-items: end;
}
@mixin flex-between-center () { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-between () { 
    display: flex;
    justify-content: space-between;
}
@mixin flex-column () {
    display: flex;
    flex-direction: column;
}