:root {
    --main-font: 'Montserrat', sans-serif;

    //colors
    --white: #fff;
    --sand-color: #f8f9fa;
    --dark-sand-color: #dee2e6;
    --light-grey-color: #b5c8d7;
    --disabled-grey-color: #b4c7d6;
    --grey-color: #6c757d;
    --dark-grey-color: #454c53;
    --light-blue-color: #b2e2f7;
    --blue-color: #00a0e3;
    --blue-color-active: #0081b7;
    --blue-color-hover: #33b3e9;
    --dark-blue-color-hover: #366b92;
    --dark-blue-color: #064778;
    --dark-blue-color-active: #05406c;
    --red: #ff5555;
}