@import '../../styles/mixins';
.header {
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 0px 6px rgba(6, 71, 120, 0.15);
    &__wrap {
        @include flex-between-center ();
    }
    &__content {
        &-block {
            @include flex ();
        }
    }
    &__logo {
        margin-right: 42px;
        max-width: 181px;
        width: 100%;
        height: 73px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__item {
        border: none;
        font-weight: 600;
        color: var(--dark-blue-color);
        background-color: transparent;
        &:not(:last-child) {
            margin-right: 39px;
        }
        &.link_dark:hover  {
            color: var(--blue-color);
        }
        &-icon {
            margin-right: 15px;
            width: 25px;
            height: 25px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .header {
        &__logo {
            margin-right: 40px;
            width: 147px;
            height: 59px;
        }
    }
}
@media screen and (max-width: 767px) {
    .header {
        padding: 10px 0;
        &__logo {
            margin-right: 20px;
        }
        &__item {
            font-size: 1.4rem;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}