.news {
    padding: 60px 0;
    &__title {
        margin-bottom: 20px;
        font-size: 2.8rem;
        font-weight: 600;
    }
    &__search {
        position: relative; 
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 20px;
        width: clamp(290px, 100%, 50%);
        &-input {
            padding-right: 50px;
            width: 100%;
        }
        &-button {
            position: absolute;
            top: 1px;
            right: 1px;
            display: block;
            border: none;
            width: 48px;
            height: 48px;
            background-color: var(--grey-color);
            background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGQ9Ik0gMjEgMyBDIDExLjYyMTA5NCAzIDQgMTAuNjIxMDk0IDQgMjAgQyA0IDI5LjM3ODkwNiAxMS42MjEwOTQgMzcgMjEgMzcgQyAyNC43MTA5MzggMzcgMjguMTQwNjI1IDM1LjgwNDY4OCAzMC45Mzc1IDMzLjc4MTI1IEwgNDQuMDkzNzUgNDYuOTA2MjUgTCA0Ni45MDYyNSA0NC4wOTM3NSBMIDMzLjkwNjI1IDMxLjA2MjUgQyAzNi40NjA5MzggMjguMDg1OTM4IDM4IDI0LjIyMjY1NiAzOCAyMCBDIDM4IDEwLjYyMTA5NCAzMC4zNzg5MDYgMyAyMSAzIFogTSAyMSA1IEMgMjkuMjk2ODc1IDUgMzYgMTEuNzAzMTI1IDM2IDIwIEMgMzYgMjguMjk2ODc1IDI5LjI5Njg3NSAzNSAyMSAzNSBDIDEyLjcwMzEyNSAzNSA2IDI4LjI5Njg3NSA2IDIwIEMgNiAxMS43MDMxMjUgMTIuNzAzMTI1IDUgMjEgNSBaIi8+PC9zdmc+");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    &__item {
        border: 1px solid var(--light-grey-color);
        background-color: var(--white);
        &-img {
            width: 100%;
            height: auto;
            & img {
                width: 100%;
                height: auto;
            }
        }
        &-content {
            padding: 15px;
        }
        &-subtitle {
            margin-bottom: 7px;
            font-weight: 600;
        }
        &-date {
            display: block;
            margin-bottom: 7px;
        }
    }
}